<!-- Filename: signin.js
Student's name : Ngo Tran Manh Hiep.
Student ID: 301121528.
Date: 24nd Oct 2021
5:00Am   -->
<%- include ../partials/header.ejs %>

<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />
  <link rel="stylesheet" href="/stylesheets/style.css">

<div class="container">
    <div class="row">

        <div class="offset-md-3 col-md-3">
            <h1 style="margin-left: 0cm;"><%= title %></h1>
            <% for(var i in messages) { %>
                <div class="flash"><%= messages[i] %></div>
            <% } %>
            <form action="/users/signin" method="post">
                <div class="form-group">
                    <label>Username:</label>
                    <input type="text" name="username" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" name="password" class="form-control"/>
                </div>
                <br>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Sign In" />                    
                </div>
                <br>
                <div class="form-group">
                    <a href="/users/signup" style="text-decoration: none">                
                        <i class="fas fa-user-plus"></i> 
                        Signup
                    </a>
                </div>
            </form>
        </div>
        <div>
                        
        </div>
    </div>
</div>
<% include ../partials/footer.ejs %>