 <!-- Filename: aboutme.ejs
Student's name : Ngo Tran Manh Hiep.
Student ID: 301121528.
Date: 2nd Oct 2021  -->

<% include partials/header.ejs %>
   
<div class="intro">
    <h2 style="margin-left: auto;">
        Ngo Tran Manh Hiep
    </h2>
    
</div>
<div class="para">
    <img src="Images/243046357_642226370098557_9106645278239210658_n.jpg" style="width: 230px;">
    <p style="margin: left 20px;">
        Hello classmates and teacher, My name is Ngo Tran Manh Hiep and my English name is JC. I am from the middle city of Vietnam. My favorite is playing sports and playing games. Moreover, I love technology, so I participate in a game programming course. This is my thirty semester, I joined COMM171 to improving English skills. I hope we all get along and make friends in this course.
    </p>
    
</div>
<a href="Resume.pdf"> My Resume</a>

  <% include partials/footer.ejs %>

