<!-- Filename: project.ejs
Student's name : Ngo Tran Manh Hiep.
Student ID: 301121528.
Date: 24nd Oct 2021
5:00Am   -->

<% include partials/header.ejs %>
   
<table border="1">
    <tr>
        <td>Project</td>
        <td>Images</td>
        <td>Status </td>
        <td>Roles </td>
        <td>Outcome </td>
    </tr>
    <tr>
       
        <td>Game Fox Runner </td>
        <td><img src="Images/Fox_Runner.png" style="width: 1000px"></td>
        <td>Current</td>
        <td>Programmer: Write the code for game</td>
        <td>Not Yet </td>
    </tr>
    <tr>
        <td>Create Web </td>
        <td><img src="Images/Web.png" style="width: 1000px"></td>       
        <td>Finished</td>
        <td>All Work: It is my own Project</td>
        <td>99% </td>
    </tr>
    <tr>
        <td>Software system </td>
        <td><img src="Images/Software.png" style="width: 1000px"></td>
        <td>Current </td>
        <td>Developer: Update program and fix the bug</td>
        <td>Not Yet </td>
      
    </tr>
</table>

  <% include partials/footer.ejs %>

