<!-- Filename: service.ejs
Student's name : Ngo Tran Manh Hiep.
Student ID: 301121528.
Date: 24nd Oct 2021
5:00Am   -->

<% include partials/header.ejs %>
   
<h2 style="text-align: center;">My Service</h2>
<table border="1" style="margin-left: 400px; margin-top:50px; ">
    <tr>
        <td>Service</td>
        <td>Describe</td>
       
    </tr>
    <tr>
       
        <td>Game Developer</td>
        <td>I can writting code and design game scene following your requied</code></td>
        
    </tr>
    <tr>
        <td>Web creator </td>
        <td>Give you a best Web page to business, maketing or others following your requied</td>       
        
    </tr>
    <tr>
        <td>Software system </td>
        <td>Creating, updating, fixing or giving idea for customers. </td>             
    </tr>


  <% include partials/footer.ejs %>

