<!-- Filename: users.ejs
Student's name : Ngo Tran Manh Hiep.
Student ID: 301121528.
Date: 24nd Oct 2021
5:00Am   -->
<% include partials/header.ejs %>

  <h1><%= title %></h1>
  <p>Welcome <%= userName %> to <%= title %> page</p>

<% include partials/footer.ejs %>