/* Filename: style1.js
Student's name : Ngo Tran Manh Hiep.
Student ID: 301121528.
Date: 24nd Oct 2021
5:00Am  */
body {
  margin-left: 50px;
  margin-right: 50px;
 background-color:rgb(241, 240, 234);
}
/* Margin logo and header */
.header
{
  background-color: rgba(0, 0, 0, 0.603);
color: #ffffff;
}
.Shop
{
/* chỉnh text giữa ảnh */
display: flex
}

h1
{
margin-left: 200px ;
}

/* style of navigation */
.active {
background-color: rgb(0, 0, 0);
color: rgb(255, 255, 255);
font-weight: bold;
}


ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #a3a3a3;
position: fixed;
top: 0;
position: sticky;
width: 100%;
}

li {
float: left;
}



li a {
display: block;
color: rgb(255, 255, 255);
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
color: rgb(255, 255, 255);
background-color: #0c010163;
font-weight: bold;
}

 /* about me */
.intro
{
  text-align: center;
}

.para
{
margin-left: 400px;
margin-right: 400px; 
display: flex;
}
/* Project */
table
{
  margin-left: 75px;
  
}

